<div th:fragment="modalFormulario" class="modal fade" id="modalFormulario" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><i class="fa fa-paw mr-2"></i> REGISTRO MASCOTA</h5>
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="formulario" class="form-horizontal form-label-left" th:object="${mascota}" autocomplete="off">
                    <input type="hidden" th:field="*{idMascota}">
                    <div class="form-group row align-items-center">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right" for="persona">
                            Dueño <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <select th:field="*{persona}" id="persona" class="form-control text-capitalize" required>
                                <option value="">-- Seleccione --</option>
                                <option th:each="p : ${personas}" th:value="${p.idPersona}"
                                    th:text="|${p.nombres} ${p.apellidos} - ${p.dni}|">
                                </option>
                            </select>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('persona')}"
                                th:errors="*{persona}"></div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-3">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right" for="nombre">
                            Nombre <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nombre')}"
                                th:errors="*{nombre}"></div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-3">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right" for="especie">
                            Especie <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" th:field="*{especie}" class="form-control" id="especie" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('especie')}"
                                th:errors="*{especie}"></div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-3">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right" for="raza">
                            Raza <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" th:field="*{raza}" class="form-control" id="raza" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('raza')}"
                                th:errors="*{raza}"></div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-3">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right">
                            Género <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-info">
                                    <input type="radio" th:field="*{genero}" value="Macho" required> Macho
                                </label>
                                <label class="btn btn-outline-info">
                                    <input type="radio" th:field="*{genero}" value="Hembra"> Hembra
                                </label>
                            </div>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('genero')}"
                                th:errors="*{genero}"></div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mt-3">
                        <label class="col-form-label col-md-3 col-sm-3 label-align text-md-right" for="descripcion">
                            Descripción <span class="required text-danger">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7">
                            <textarea th:field="*{descripcion}" class="form-control" id="descripcion" rows="3"
                                maxlength="500" required></textarea>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('descripcion')}"
                                th:errors="*{descripcion}"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    <i class="fa fa-times mr-1"></i> CANCELAR
                </button>
                <button type="button" class="btn btn-dark" onclick="guardarData('/mascotas/guardar')">
                    <i class="fa fa-save mr-1"></i> GUARDAR
                </button>
            </div>
        </div>
    </div>
</div>