<div th:fragment="top_nav" class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                        data-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/images/user.png}" alt="">Juan Pérez
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:;"> Perfil</a>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="fa fa-sign-out pull-right"></i> Salir
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>